<div class="w3-bar w3-teal" style="margin-top:2px">
    <% if (canCreate) { %>
        <a class="w3-button w3-blue w3-border w3-border-white" title="Create a blog">Create</a>
    <% } %>
    <% if (canEdit) { %>
        <a class="w3-button w3-blue w3-border w3-border-white" title="Edit a blog">Edit</a>
    <% } %>
    <% if (canDelete) { %>
        <a class="w3-button w3-blue w3-border w3-border-white" title="Delete a blog">Delete</a>
    <% } %>
</div>
<!--
       <i class="far fa-plus-square fa-3x" title="Create a blog">
    </i>
<div class="w3-sidebar w3-bar-block w3-teal w3-xxlarge" style="width:70px">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></a> 
</div>
  
<div style="margin-left:70px">
-->